.cabecalho {
    /*Div cabeçalho*/
    display: flex;
    flex-wrap: wrap;
    background-image: url("./img/banner.jpg");
    background-size: 95%;
    background-position: right;
}

h1 {
    /*h1*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    flex-wrap: wrap;
    text-align: center;
    display: block;
    font-size: 20px;
    color: #fff;
}

h2 {
    text-align: center;
    font-size: 35px;
    color: #fff;
    background-color:blueviolet;
    margin-left: 5%;
    margin-right: 5%;
}

h3 {
    text-align: center;
    font-size: 25px;
    color: #120a8f;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h4 {
    text-align: center;
    font-size: 25px;
    color: #120a8f;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

li {
    border: 2px solid blueviolet;
    border-radius: 10px;
    font-size: 18px;
    color: #2a52be;
    display: inline-block;
    text-align: center;
    margin-left: 5%;
    margin-right: auto;
    width: 100%;
    background-color: #fff;
}

.rodape {
    /*Div Rodapé*/
    color: #474a51;
    font-size: 12px;
    text-align: center;
    font-family: cambria;
    border-top: 1px solid black;
    line-height: 10%;
    /*Espaço entre linhas*/
}

.logowibsite {
    margin-left: 10px;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    width: 20%;
    border-radius: 10%;
    border: 2px solid #120a8f;
}

.temporaria {
    width: 40%;
    display: flex;
    border-radius: 10%;
    border: 2px solid #120a8f;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
}

html,
body {
    /* Remover todas as margens*/
    margin: 0px !important;
    padding: 0px !important;
    background-color: #f0f1f4;
}

.a1 {
    background-image: linear-gradient(to right, #fff 0%, #add8e6 100%);
    background-size: 100%;
    background-position: right;
    font-size: 18px;
    display: inline-block;
    text-align: center;
    margin-left: 10px;
    margin-right: auto;
}

.a2 {
    text-align: center;
    font-size: 25px;
    color: #120a8f;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.a3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: normal;
    justify-content: normal;
    align-items: normal;
    gap: 20px;
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #f0f1f4;
}

.imagem {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}