.cabecalho {
    /*Div cabeçalho*/
    display: flex;
    background-image: url("./img/banner1.jpg");
    background-size: 100%;
    background-position: right;
}

h1 {
    /*h1*/
    margin-left: auto;
    margin-right: 40%;
    margin-top: 20px;
    text-align: center;
    display: block;
    font-size: 25px;
    color: #fff;
}

h2 {
    text-align: center;
    font-size: 35px;
    color: #fff;
    background-color: blueviolet;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5px;
}

h3 {
    text-align: center;
    font-size: 25px;
    color: #120a8f;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h4 {
    text-align: center;
    font-size: 20px;
    color: #120a8f;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.rodape {
    /*Div Rodapé*/
    color: #474a51;
    font-size: 12px;
    text-align: center;
    font-family: cambria;
    border-top: 1px solid black;
    line-height: 10%;
    /*Espaço entre linhas*/
}

.logowibsite {
    margin-left: 10px;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    width: 20%;
    border-radius: 10%;
    border: 2px solid #120a8f;
}

html,
body {
    /* Remover todas as margens*/
    margin: 0px !important;
    padding: 0px !important;
    background-color: #f0f1f4;
}

.a1 {
    background-image: linear-gradient(to right, #fff 0%, #add8e6 100%);
    background-size: 100%;
    background-position: right;
    font-size: 18px;
    display: inline-block;
    text-align: center;
    margin-left: 10px;
    margin-right: auto;
}

.fcc-btn {
    background-color: #4169e1;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 10px;
    position: fixed;
    bottom: 70px;
    left: 1%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.fcc-btn:hover {
    background-color: #223094;
    transform: scale(1.08);
}

.x2 {
    /*primeira ul*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
}

.imagem {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 20%;
}

/* Estilos para a janela flutuante */
.boxFlutuante {
    position: fixed;
    width: 300px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.logoinfinitepay {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}